body{
    display: grid;
    grid-template-areas: 'navbar'
                        'banner'
                        'main'
                        'section'
                        'contact'
                        'footer';
    grid-template-columns: 100%;
    margin: 0%;
}
nav{
    grid-area: navbar;
    background-color: white;
    display: flex;
    align-items: center;
    height: 85px;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
nav a:hover {
    background-color: yellow;
}
nav img{
    width: 85px;

}
nav div:nth-child(2){
    display: none;
}
nav div:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 20px;
}
header{
    grid-area: banner;
    background-image: url(../imagens/ricardin.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cabecalho {
    grid-area: main;
    background-color: #00FF80;
}

#cabecalho h1, #cabecalho h2 {
    text-align: center;
    color: #000000;
}

.titulo {
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 3px;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.subtitulo {
    width: 350px;
}

input:focus {
    border: 1px solid red;
    outline: 0;
}

@media(max-width: 800px) {
    nav div:nth-child(2){
        display: inline-block;
        width: 50px;
    }
    nav div:nth-child(3) {
        display: none;
    }
    .icon__burguer {
        width: 55%;
    }
    header{
        grid-area: banner;
        background-image: url(../imagens/ricardin-clone.jpeg);
        background-size: cover;
        background-position: center;
        height: 400px;
    }
}